.container {
  font-family: "PT Serif";
}

.container a {
  color: gray;
}

.name {
  font-family: "Bree Serif";
  font-size: 2rem;
}

.head {
  margin-bottom: 1rem;
}

.icon-container {
  max-width: 150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}